<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">ROS options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-9">Topic</label>
			<div class="gf-form-select-wrapper max-width-10" ng-click="ctrl.getTopics()">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.topic" ng-options="t for t in ctrl.topics" ng-change="ctrl.render()"></select>
			</div>
		</div>

		<div class="gf-form">
			<label class="gf-form-label width-9">Message Type</label>
			<div class="gf-form-select-wrapper max-width-10">
				<input type="text" class="input-medium gf-form-input" placeholder="message type" ng-model="ctrl.msg_type" ng-change="ctrl.render()" ng-model-onblur />
			</div>
		</div>
	</div>
</div>
